* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	font-size: 24px;
	padding: 20px 30px;
	border: 1px solid #ccc;
	background-color: #ccc;
	position: relative;
}

.badge {
	position: absolute;
	background-color: red;
	top: -15px;
	right: -10px;
	border: 1px solid red;
	padding: 5px;
	color: #fff;
	font-size: 18px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}
